*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --clr-text-50: hsl(252, 92%, 95%);
  --clr-text-70: hsla(248, 92%, 95%, 0.614);
  --clr-text-100: hsl(250, 92%, 90%);
  --clr-text-200: hsl(251, 92%, 80%);
  --clr-text-300: hsl(251, 93%, 70%);
  --clr-text-400: hsl(251, 93%, 60%);
  --clr-text-500: hsl(251, 93%, 50%);
  --clr-text-600: hsl(251, 93%, 40%);
  --clr-text-700: hsl(251, 93%, 30%);
  --clr-text-800: hsl(251, 92%, 20%);
  --clr-text-900: hsl(250, 92%, 10%);
  --clr-text-950: hsl(250, 92%, 5%);
  --clr-background-50: hsl(254, 100%, 95%);
  --clr-background-100: hsl(254, 100%, 90%);
  --clr-background-200: hsl(254, 100%, 80%);
  --clr-background-300: hsl(254, 100%, 70%);
  --clr-background-400: hsl(254, 100%, 60%);
  --clr-background-500: hsl(254, 100%, 50%);
  --clr-background-600: hsl(254, 100%, 40%);
  --clr-background-700: hsl(254, 100%, 30%);
  --clr-background-750: hsla(0, 0%, 0%, 0.617);
  --clr-background-800: hsl(254, 100%, 20%);
  --clr-background-900: hsl(254, 100%, 10%);
  --clr-background-950: hsl(254, 100%, 5%);
  --clr-background-999: hsl(254, 100%, 3%);
  --clr-primary-50: hsl(250, 92%, 95%);
  --clr-primary-100: hsl(251, 92%, 90%);
  --clr-primary-200: hsl(252, 92%, 80%);
  --clr-primary-300: hsl(252, 92%, 70%);
  --clr-primary-400: hsl(252, 92%, 60%);
  --clr-primary-500: hsl(252, 92%, 50%);
  --clr-primary-600: hsl(252, 92%, 40%);
  --clr-primary-700: hsl(252, 92%, 30%);
  --clr-primary-800: hsl(252, 92%, 20%);
  --clr-primary-900: hsl(251, 92%, 10%);
  --clr-primary-950: hsl(253, 92%, 5%);
  --clr-secondary-50: hsl(323, 92%, 95%);
  --clr-secondary-100: hsl(324, 92%, 90%);
  --clr-secondary-200: hsl(324, 92%, 80%);
  --clr-secondary-300: hsl(324, 93%, 70%);
  --clr-secondary-400: hsl(324, 93%, 60%);
  --clr-secondary-500: hsl(324, 93%, 50%);
  --clr-secondary-600: hsl(324, 93%, 40%);
  --clr-secondary-700: hsl(324, 93%, 30%);
  --clr-secondary-800: hsl(324, 92%, 20%);
  --clr-secondary-900: hsl(324, 92%, 10%);
  --clr-secondary-950: hsl(325, 92%, 5%);
  --clr-accent-50: hsl(350, 92%, 95%);
  --clr-accent-100: hsl(350, 92%, 90%);
  --clr-accent-200: hsl(350, 92%, 80%);
  --clr-accent-300: hsl(350, 93%, 70%);
  --clr-accent-400: hsl(350, 93%, 60%);
  --clr-accent-500: hsl(350, 93%, 50%);
  --clr-accent-600: hsl(350, 93%, 40%);
  --clr-accent-700: hsl(350, 93%, 30%);
  --clr-accent-800: hsl(350, 92%, 20%);
  --clr-accent-900: hsl(350, 92%, 10%);
  --clr-accent-950: hsl(350, 92%, 5%);
  --linearPrimarySecondary: linear-gradient(
    hsl(252, 92%, 74%),
    hsl(324, 93%, 35%)
  );
  --linearPrimaryAccent: linear-gradient(
    to right,
    hsl(252, 92%, 74%),
    hsl(350, 93%, 55%)
  );
  --linearSecondaryAccent: linear-gradient(
    hsl(324, 93%, 35%),
    hsl(350, 93%, 55%)
  );
  --radialPrimarySecondary: radial-gradient(
    hsl(252, 92%, 74%),
    hsl(324, 93%, 35%)
  );
  --radialPrimaryAccent: radial-gradient(
    hsl(252, 92%, 74%),
    hsl(350, 93%, 55%)
  );
  --radialSecondaryAccent: radial-gradient(
    hsl(324, 93%, 35%),
    hsl(350, 93%, 55%)
  );
  --ff-default: "Nunito", sans-serif;
  --ff-accent: "Roboto", sans-serif;
  --fw-bold: 700;
  --fw-regular: 400;
  --fw-light: 300;
  --fs-900: 2.4rem;
  --fs-800: 1.9rem;
  --fs-600: 1.5rem;
  --fs-400: 1.1rem;
  --fs-300: 1rem;
}

@media (min-width: 50em) {
  :root {
    --fs-900: 3.6rem;
    --fs-800: 2.4rem;
    --fs-600: 1.6rem;
    --fs-400: 1.2rem;
    --fs-300: 1.1rem;
  }
}
img,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
  pointer-events: none;
}

body {
  min-height: 100svh;
  font-family: var(--ff-default);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
  line-height: 1.5;
  color: var(--clr-text-50);
  background-color: var(--clr-background-999);
  text-rendering: optimizeSpeed;
}

section:not(.hero-section, .download-section) {
  margin-top: 2rem;
}

.section__title {
  text-align: center;
  font-size: var(--fs-800);
}

.section__subtitle {
  margin-bottom: 1em;
}

.section__icon {
  width: clamp(4rem, 5vw, 5rem);
  margin-inline: auto;
}

h1,
h2,
h3 {
  font-family: var(--ff-accent);
  font-weight: var(--fw-bold);
  letter-spacing: 0.4px;
}

h3 {
  font-size: var(--fs-600);
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

.container {
  --max-width: 1210px;
  --padding: 1rem;
  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.flex.align-center {
  align-items: center;
}

.flex.space-between {
  justify-content: space-between;
}

.flex-center {
  height: 100%;
  justify-content: center;
  align-items: center;
}

.flex.direction-column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.p-gradient-text {
  background: var(--linearPrimaryAccent);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  display: inline-flex;
  align-items: center;
  gap: 0.7em;
  padding: 0.4em 1.1em;
  font-family: var(--ff-accent);
  font-size: var(--fs-400);
  text-decoration: none;
  border: none;
  border-radius: 8px;
  color: inherit;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.button:is(:hover, :focus) {
  transform: translate(0, -3px);
}

.button[data-type=primary] {
  background-color: var(--clr-primary-300);
  color: var(--clr-text-950);
}

.button[data-type=primary]:is(:hover, :focus) {
  box-shadow: 0 20px 80px -10px var(--clr-primary-300);
}

.button[data-type=secondary] {
  background-color: var(--clr-secondary-700);
}

.button[data-type=dark] {
  background-color: hsl(0, 0%, 0%);
}

.button[data-type=white-border] {
  border: 1px solid var(--clr-text-50);
}

.button__icon {
  width: 1.6em;
}

.separator {
  border-color: var(--clr-text-70);
  margin-block: 2rem 0.6rem;
}

.header {
  padding: 0.8rem 0;
}

.header__wrapper {
  gap: 2rem;
}

.logo {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.logo__img {
  width: 2.8em;
}

.logo__text {
  font-family: var(--ff-accent);
  font-weight: var(--fw-bold);
  font-size: var(--fs-800);
}

.mobile-nav-toggle {
  display: none;
}

.nav__list {
  display: flex;
  gap: clamp(0.8rem, 5vw, 2rem);
  font-family: var(--ff-accent);
}

.nav__list a {
  display: block;
  width: max-content;
  text-decoration: none;
  color: var(--clr-text-50);
}

.nav__list a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  margin-inline: auto;
  background: var(--linearPrimaryAccent);
  transition: all 0.2s ease-in-out;
}

.nav__list a:is(:hover, :focus)::after {
  width: 100%;
}

@media (max-width: 52em) {
  .nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    inset: 0 0 0 40%;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
    z-index: 9000;
    padding: min(16vh, 8rem) 2em;
    background-color: rgb(0, 0, 0);
  }
  @supports (backdrop-filter: blur(5px)) {
    .nav {
      background-color: rgba(0, 0, 0, 0.95);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
    }
  }
  .nav[data-visible] {
    transform: translateX(0);
  }
  .nav__list {
    display: grid;
    gap: 1.2rem;
  }
  .mobile-nav-toggle {
    --hamburger-color: var(--clr-text-50);
    display: block;
    position: fixed;
    top: 1rem;
    right: 1.2rem;
    overflow: hidden;
    z-index: 9999;
    background: transparent;
    border: none;
  }
  .mobile-nav-toggle .mobile-nav-toggle__hamburger {
    transition: translate 1s, rotate 1s;
  }
  .mobile-nav-toggle[aria-expanded=true] .mobile-nav-toggle__hamburger {
    translate: 13px -10px;
    rotate: 0.125turn;
  }
  .mobile-nav-toggle .line {
    stroke-dasharray: 60 31 60 300;
    transition: 1s;
  }
  .mobile-nav-toggle[aria-expanded=true] .line {
    stroke-dasharray: 60 105 60 300;
    stroke-dashoffset: -90;
  }
  .header__cta-btn {
    display: none;
  }
}
.hero-section {
  --hero-section-spacing: 1rem;
  padding: clamp(2em, 10vw, 10em) 0.2em;
}

.hero-section__title {
  font-size: var(--fs-900);
  line-height: normal;
  text-wrap: pretty;
  margin-inline: auto;
  max-width: 800px;
  margin-bottom: var(--hero-section-spacing);
}

.hero-section__subtitle {
  text-wrap: pretty;
  max-width: 600px;
  margin-inline: auto;
  margin-bottom: var(--hero-section-spacing);
}

.hero-section__buttons {
  flex-wrap: wrap;
  gap: 1rem;
}

.features-section {
  margin-bottom: 4rem;
}

.features-wrapper {
  background: var(--clr-background-950);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1em 1em 3em 1em;
  text-wrap: pretty;
  border-radius: 10px;
}

@supports (backdrop-filter: blur(8px)) {
  .features-wrapper {
    background: rgba(136, 108, 249, 0.04);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(136, 108, 249, 0.18);
  }
}
.features__list {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-top: 2em;
  text-align: center;
}

.feature {
  max-width: 370px;
}

.feature__description {
  font-size: var(--fs-300);
  color: var(--clr-text-70);
}

.feature__icon {
  width: clamp(4rem, 5vw, 4.4rem);
  margin-inline: auto;
}

@media (min-width: 50em) {
  .features__list {
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }
  .feature {
    display: inline-flex;
    gap: 1rem;
  }
}
.open-source-section {
  background-color: var(--clr-background-750);
  padding: 2em 0.2em;
}

.download-section {
  background: var(--linearPrimaryAccent);
  color: var(--clr-text-950);
  padding: 2em 0.2em;
}

.download-section .button {
  color: var(--clr-text-50);
}

footer {
  padding: 1.8rem 0;
  background-color: var(--clr-background-950);
}

footer .logo__img {
  width: 52px;
}

.footer__sections {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  margin-top: 2rem;
}

.footer__section-item {
  margin-block: 0.2em;
}

.footer__section-item a {
  color: var(--clr-text-70);
  text-decoration: none;
}

.footer__section-item a:is(:hover, :focus) {
  text-decoration: underline;
}

.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}

.social__item {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.social__item:is(:hover, :focus) {
  transform: translate(0, -3px);
}

.social__item:nth-child(1) .social__icon {
  width: 40px;
}

.social__item:nth-child(2) .social__icon {
  width: 40px;
}

.social__item:nth-child(3) .social__icon {
  width: 54px;
  transform: translateX(-7px);
}

@media (min-width: 50em) {
  .footer__sections {
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
  }
}
.background-style {
  --mesh-size: clamp(350px, 60vw, 700px);
  --blending-mode: screen;
  width: 100%;
  min-height: 100svh;
  overflow: hidden;
  position: fixed;
  background-attachment: fixed;
  top: 0;
  left: 0;
  background-color: var(--clr-background-999);
  z-index: -1;
}

.mesh {
  position: absolute;
  mix-blend-mode: var(--blending-mode);
  width: var(--mesh-size);
  aspect-ratio: 1;
}

.mesh1 {
  background: radial-gradient(circle at center, rgba(230, 29, 63, 0.5) 0%, rgba(250, 107, 131, 0) 50%) no-repeat;
  top: calc(50% - var(--mesh-size) / 2);
  left: calc(5% - var(--mesh-size) / 2);
  transform-origin: center center;
  animation: moveHorizontal 30s ease infinite;
  opacity: 1;
}

.mesh2 {
  background: radial-gradient(circle at center, rgba(230, 29, 63, 0.5) 0%, rgba(250, 107, 131, 0) 50%) no-repeat;
  top: calc(50% - var(--mesh-size) / 2);
  right: calc(1% - var(--mesh-size) / 2);
  transform-origin: center center;
  animation: moveVertical 30s ease infinite;
  opacity: 1;
}

.mesh3 {
  background: radial-gradient(circle at center, rgba(98, 51, 242, 0.8) 0%, rgba(100, 53, 240, 0) 50%) no-repeat;
  top: calc(30% - var(--mesh-size) / 2);
  left: calc(10% - var(--mesh-size) / 2);
  transform-origin: calc(50% + 100px);
  animation: moveInCircle 30s linear infinite;
  opacity: 1;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes moveVertical {
  0% {
    transform: translateY(-30%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-30%);
  }
}
@keyframes moveHorizontal {
  0% {
    transform: translateX(-20%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-20%) translateY(-10%);
  }
}

/*# sourceMappingURL=style.css.map */
