*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --clr-text-50: hsl(252, 92%, 95%);
  --clr-text-100: hsl(250, 92%, 90%);
  --clr-text-200: hsl(251, 92%, 80%);
  --clr-text-300: hsl(251, 93%, 70%);
  --clr-text-400: hsl(251, 93%, 60%);
  --clr-text-500: hsl(251, 93%, 50%);
  --clr-text-600: hsl(251, 93%, 40%);
  --clr-text-700: hsl(251, 93%, 30%);
  --clr-text-800: hsl(251, 92%, 20%);
  --clr-text-900: hsl(250, 92%, 10%);
  --clr-text-950: hsl(250, 92%, 5%);
  --clr-background-50: hsl(254, 100%, 95%);
  --clr-background-100: hsl(254, 100%, 90%);
  --clr-background-200: hsl(254, 100%, 80%);
  --clr-background-300: hsl(254, 100%, 70%);
  --clr-background-400: hsl(254, 100%, 60%);
  --clr-background-500: hsl(254, 100%, 50%);
  --clr-background-600: hsl(254, 100%, 40%);
  --clr-background-700: hsl(254, 100%, 30%);
  --clr-background-800: hsl(254, 100%, 20%);
  --clr-background-900: hsl(254, 100%, 10%);
  --clr-background-950: hsl(254, 100%, 5%);
  --clr-primary-50: hsl(250, 92%, 95%);
  --clr-primary-100: hsl(251, 92%, 90%);
  --clr-primary-200: hsl(252, 92%, 80%);
  --clr-primary-300: hsl(252, 92%, 70%);
  --clr-primary-400: hsl(252, 92%, 60%);
  --clr-primary-500: hsl(252, 92%, 50%);
  --clr-primary-600: hsl(252, 92%, 40%);
  --clr-primary-700: hsl(252, 92%, 30%);
  --clr-primary-800: hsl(252, 92%, 20%);
  --clr-primary-900: hsl(251, 92%, 10%);
  --clr-primary-950: hsl(253, 92%, 5%);
  --clr-secondary-50: hsl(323, 92%, 95%);
  --clr-secondary-100: hsl(324, 92%, 90%);
  --clr-secondary-200: hsl(324, 92%, 80%);
  --clr-secondary-300: hsl(324, 93%, 70%);
  --clr-secondary-400: hsl(324, 93%, 60%);
  --clr-secondary-500: hsl(324, 93%, 50%);
  --clr-secondary-600: hsl(324, 93%, 40%);
  --clr-secondary-700: hsl(324, 93%, 30%);
  --clr-secondary-800: hsl(324, 92%, 20%);
  --clr-secondary-900: hsl(324, 92%, 10%);
  --clr-secondary-950: hsl(325, 92%, 5%);
  --clr-accent-50: hsl(350, 92%, 95%);
  --clr-accent-100: hsl(350, 92%, 90%);
  --clr-accent-200: hsl(350, 92%, 80%);
  --clr-accent-300: hsl(350, 93%, 70%);
  --clr-accent-400: hsl(350, 93%, 60%);
  --clr-accent-500: hsl(350, 93%, 50%);
  --clr-accent-600: hsl(350, 93%, 40%);
  --clr-accent-700: hsl(350, 93%, 30%);
  --clr-accent-800: hsl(350, 92%, 20%);
  --clr-accent-900: hsl(350, 92%, 10%);
  --clr-accent-950: hsl(350, 92%, 5%);
  --linearPrimarySecondary: linear-gradient(
    hsl(252, 92%, 74%),
    hsl(324, 93%, 35%)
  );
  --linearPrimaryAccent: linear-gradient(
    to right,
    hsl(252, 92%, 74%),
    hsl(350, 93%, 55%)
  );
  --linearSecondaryAccent: linear-gradient(
    hsl(324, 93%, 35%),
    hsl(350, 93%, 55%)
  );
  --radialPrimarySecondary: radial-gradient(
    hsl(252, 92%, 74%),
    hsl(324, 93%, 35%)
  );
  --radialPrimaryAccent: radial-gradient(
    hsl(252, 92%, 74%),
    hsl(350, 93%, 55%)
  );
  --radialSecondaryAccent: radial-gradient(
    hsl(324, 93%, 35%),
    hsl(350, 93%, 55%)
  );
  --ff-default: "Nunito", sans-serif;
  --ff-accent: "Roboto", sans-serif;
  --fw-bold: 700;
  --fw-regular: 400;
  --fw-light: 300;
  --fs-900: 4.5rem;
  --fs-800: 1.9rem;
  --fs-600: 1.5rem;
  --fs-400: 1.1rem;
}

img,
svg {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100svh;
  font-family: var(--ff-default);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
  line-height: 1.5;
  color: var(--clr-text-50);
  background-color: var(--clr-background-950);
  text-rendering: optimizeSpeed;
}

h1,
h2,
h3 {
  font-family: var(--ff-accent);
  font-weight: var(--fw-bold);
}

.container {
  --max-width: 1210px;
  --padding: 1rem;
  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.flex.align-center {
  align-items: center;
}

.flex.space-between {
  justify-content: space-between;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.p-gradient-text {
  background: var(--linearPrimaryAccent);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header {
  padding: 0.8rem 0;
}

.header__wrapper {
  gap: 2rem;
}

.logo {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.logo__img {
  width: 2.8em;
}

.logo__text {
  font-family: var(--ff-accent);
  font-weight: var(--fw-bold);
  font-size: var(--fs-800);
}

.mobile-nav-toggle {
  display: none;
}

.nav__list {
  display: flex;
  gap: clamp(0.8rem, 5vw, 2rem);
  padding: 0;
  font-family: var(--ff-accent);
  list-style-type: none;
}

.nav__list a,
.header__cta-btn {
  display: block;
  width: max-content;
  text-decoration: none;
  color: var(--clr-text-50);
}

.nav__list a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  margin-inline: auto;
  background: var(--linearPrimaryAccent);
  transition: all 0.2s ease-in-out;
}

.nav__list a:is(:hover, :focus)::after {
  width: 100%;
}

.header__cta-btn {
  padding: 0.5em 1em;
  border-radius: 6px;
  border: 1px solid var(--clr-text-50);
}

@media (max-width: 52em) {
  .nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    inset: 0 0 0 40%;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
    z-index: 9000;
    padding: min(16vh, 8rem) 2em;
    background-color: rgb(0, 0, 0);
  }
  @supports (backdrop-filter: blur(5px)) {
    .nav {
      background-color: rgba(0, 0, 0, 0.6);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
    }
  }
  .nav[data-visible] {
    transform: translateX(0);
  }
  .nav__list {
    display: grid;
    gap: 1.2rem;
  }
  .mobile-nav-toggle {
    --hamburger-color: var(--clr-text-50);
    display: block;
    position: fixed;
    top: 1rem;
    right: 1.2rem;
    overflow: hidden;
    z-index: 9999;
    background: transparent;
    border: none;
  }
  .mobile-nav-toggle .mobile-nav-toggle__hamburger {
    transition: translate 1s, rotate 1s;
  }
  .mobile-nav-toggle[aria-expanded=true] .mobile-nav-toggle__hamburger {
    translate: 13px -10px;
    rotate: 0.125turn;
  }
  .mobile-nav-toggle .line {
    stroke-dasharray: 60 31 60 300;
    transition: 1s;
  }
  .mobile-nav-toggle[aria-expanded=true] .line {
    stroke-dasharray: 60 105 60 300;
    stroke-dashoffset: -90;
  }
  .header__cta-btn {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
